/* ------------------------------------- Portfolio Page -- */


@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}


.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-flex {
    display: flex;
    margin-top: 72px;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    flex-basis: calc((100% - 2*24px) / 3);
    /* flex-basis: 360px; */
}

.portfolio-item-ref {
    display: block;
    width: 100%;
    height: 100%;
    transition: box-shadow var(--transition-property);
}

.portfolio-item-ref:is(:hover, :focus) {
    /* border: 1px solid var(--brd-color-card-portfolio-hover); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    outline: transparent;
}

.portfolio-item-ref:is(:hover, :focus) .portfolio-item-cover-text {
    transform: translateX(0);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item-cover-text {
    position: absolute;
    top: 0;

    padding: 40px 32px;
    height: 100%;

    color: var(--color-cloud);
    letter-spacing: 0.02em;
    background-color: var(--bg-color-cloud);

    transform: translateY(100%);
    transition: transform var(--transition-property);
    overflow: auto;
}

.portfolio-item-content {
    padding: 32px 16px;
    border: 1px solid var(--brd-color-card-portfolio);
    border-top: none;
}

.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--color-primary);
    background-color: var(--bg-color);
}

.portfolio-item-type {
    color: var(--color-secondary);
    letter-spacing: 0.02em;
    background-color: var(--bg-color);
}