/* -- Various -- */
:root {
    /* common color */
    --color-primary: #2E2F42;
    /* --color-primary:rgb(46, 47, 66); */
    --color-secondary: #434455;
    --color-customs: #8E8F99;
    --color-accent: #404BBF;
    --color-social: #fff;
    --color-subscribe: #fff;

    /* color-text */
    --color-logo: #4D5AE5;
    --color-logo-header: #2E2F42;
    --color-logo-footer: #F4F4FD;
    --color-address: #434455;
    --color-footer: #E7E9FC;
    --color-social: #fff;
    --color-subscribe: #fff;
    --color-subscribe-placeholder: rgba(255, 255, 255, 0.6);
    --color-hero-title: #fff;
    --color-btn-hero: #fff;
    --color-btn-portfolio: #4D5AE5;
    --color-btn-portfolio-hover: #fff;
    --color-cloud: #F4F4FD;
    --color-modal-icon: #000;
    --color-modal-icon-close: #fff;
    --color-modal-input: #8E8F99;
    --color-modal-input-focus: #000;
    --color-modal-comment: rgba(117, 117, 117, 0.5);
    --color-modal-check: ##757575;
    --color-modal-check-ref: #4D5AE5;
    --color-modal-check-icon: #F4F4FD;
    --color-btn-modal-submit: #fff;

    /* background-color */
    --bg-color: #fff;
    --bg-color-dark: #2E2F42;
    --bg-color-light: #F4F4FD;
    --bg-color-btn-hero: #4D5AE5;
    --bg-color-btn-hero-hover: #404BBF;
    --bg-color-btn-footer: #4D5AE5;
    --bg-color-team-icon: #4D5AE5;
    --bg-color-team-icon-hover: #404BBF;
    --bg-color-btn-portfolio: #F4F4FD;
    --bg-color-btn-portfolio-hover: #404BBF;
    --bg-color-btn-social: rgba(255, 255, 255, 0.1);
    --bg-color-btn-social-hover: #31D0AA;
    --bg-color-cloud: #4D5AE5;
    --bg-color-backdrop: rgba(46, 47, 66, 0.4);
    --bg-color-modal: #FCFCFC;
    --bg-color-btn-modal: #E7E9FC;
    --bg-color-btn-modal-active: #404BBF;
    --bg-color-btn-modal-submit: #4D5AE5;
    --bg-color-btn-modal-submit-hover: #404BBF;

    /* border-color */
    --brd-color: #E7E9FC;
    --brd-color-btn-portfolio: #E7E9FC;
    --brd-color-card-portfolio: #E7E9FC;
    --brd-color-card-portfolio-hover: #F4F4FD;
    --brd-color-modal: #9747FF;
    --brd-color-modal-input: rgba(33, 33, 33, 0.2);
    --brd-color-modal-input-focus: #4D5AE5;

    /* fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Raleway', sans-serif;

    /* transition, animation */
    --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------------- Global -- */

body {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: 400;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    padding: 0;
}

/* ----- Common for All Pages -- */

.container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
    outline: 1px dotted red;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style-type: none;
    /* padding-left: 0; */
    padding: 0;
    margin: 0;
}

/* ----- UI components -- */
.link {
    font-family: var(--font-primary);
    text-decoration: none;
    transition: color var(--transition-property);
}

.link:is(:hover, :focus) {
    color: var(--color-accent);
    /* outline: var(--color-accent); */
}

.button {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn-hero {
    margin: 0 auto;
    padding: 16px 32px;
    color: var(--color-btn-hero);
    background-color: var(--bg-color-btn-hero);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--transition-property);
}

.btn-hero:is(:hover, :focus) {
    background-color: var(--bg-color-btn-hero-hover);
}

.btn-portfolio {
    color: var(--color-btn-portfolio);
    padding: 12px 24px;
    background-color: var(--bg-color-btn-portfolio);
    border: 1px solid var(--brd-color-btn-portfolio);
    border-radius: 4px;
    transition: color var(--transition-property), background-color var(--transition-property), border-color var(--transition-property), box-shadow var(--transition-property);
}

.btn-portfolio:is(:hover, :focus) {
    color: var(--color-btn-portfolio-hover);
    background-color: var(--bg-color-btn-portfolio-hover);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: transparent;
}

/* ------------------------------------- Header -- */

header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px var(--brd-color) solid;
}

/* .header {
    display: flex;
    justify-content: space-between;
} */

/* .header-left {
    display: flex;
    align-items: center;
    gap: 76px;
} */

.nav-site,
.address-site {
    display: none;
}

@media screen and (min-width: 768px) {

    .nav-site,
    .address-site {
        display: flex;
        gap: 40px;
    }
}


.logo {
    color: var(--color-logo);
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 800;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.header .logo {
    padding: 24px 0;
}

.logo-part-header {
    color: var(--color-logo-header);
}

.logo-part-footer {
    color: var(--color-logo-footer);
}

/*.nav-link {
    display: block;
    padding: 24px 0;

    color: currentColor;
    font-size: inherit;
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}

.nav-link.current-page {
    color: var(--color-accent);
}

.current-page {
    position: relative;
}

.current-page::before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
}

.contact-link {
    display: block;
    padding: 24px 0;

    color: var(--color-address);
    font-size: inherit;
    font-weight: inherit;
    font-style: normal;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
} */

@media screen and (min-width: 768px) {
    .btn-mob-menu-open {
        display: none;
    }
}

.mob-menu-open-icon {
    stroke: var(--color-primary);
}

/*------------------------------------- Footer -- */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--bg-color-dark);
}

.footer-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-content {
    max-width: 264px;
    /* outline: 1px dotted white; */
}

.footer-text {
    color: var(--color-footer);
    letter-spacing: 0.02em;
    margin-top: 16px;
}

.footer-social {
    max-width: 208px;
    /* outline: 1px dotted white; */
    color: var(--color-social);
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 120px;
}

.footer-icons-box {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.footer-icon-box {
    --size: 40px;
    width: var(--size);
    height: var(--size);
}

.footer-icon-ref {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-btn-social);
    border-radius: 50%;

    transition: background-color var(--transition-property);
}

.footer-icon-ref:is(:hover, :focus) {
    background-color: var(--bg-color-btn-social-hover);
}

.footer-icon {
    --size: 24px;
    width: var(--size);
    height: var(--size);
}

.footer-form-subscribe {
    width: 453px;
    margin-left: auto;
    color: var(--color-subscribe);
}

.footer-subscribe-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.footer-input {
    width: 264px;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;

    color: var(--color-subscribe-placeholder);
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.footer-input:focus {
    color: var(--color-subscribe);
    border-color: var(--color-subscribe);
    outline: none;
}

.btn-footer {

    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;

    font-weight: 500;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;

    color: var(--color-subscribe);
    background-color: var(--bg-color-btn-footer);
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-property);
}

.btn-footer:is(:hover, :focus) {
    background-color: var(--bg-color-btn-hero-hover);
}

/* ------------------------------------- Modal windows -- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--bg-color-backdrop);

    transition: opacity var(--transition-property), visibility var(--transition-property);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;

    transform: translate(-50%, -50%) scaleY(1) skew(0);

    background-color: var(--bg-color-modal);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform var(--transition-property);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0) skew(-90deg);
}

.btn-modal-close {
    --size: 24px;
    width: var(--size);
    height: var(--size);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    top: 24px;
    right: 24px;

    color: var(--color-modal-icon);
    background-color: var(--bg-color-btn-modal);
    border-color: var(--transition-property);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: color var(--transition-property), background-color var(--transition-property);
}

.btn-modal-close:is(:hover, :focus) {
    color: var(--color-modal-icon-close);
    background-color: var(--bg-color-btn-modal-active);
    border-color: var(--bg-color-btn-modal-active);
}

.modal-close-icon {
    --size: 8px;
    width: var(--size);
    height: var(--size);
    fill: currentColor;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
}

.input-text {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--color-modal-input);
}

.modal-field {
    display: block;
    margin-bottom: 8px;
}

.modal-field-input {
    display: block;
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: calc(16px + 18px + 4px);
}

.modal-input-focus {
    outline: transparent;
    background-color: transparent;
    border: 1px solid var(--brd-color-modal-input);
    border-radius: 4px;

    transition: color var(--transition-property), border-color var(--transition-property), fill var(--transition-property);
}

.modal-input-focus:focus {
    color: var(--color-modal-input-focus);
    border-color: var(--brd-color-modal-input-focus);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--color-modal-icon);
}

.modal-input-focus:focus+.modal-icon {
    fill: var(--bg-color-btn-modal-active);
}

.modal-field-textarea {
    margin-bottom: 16px;
    display: block;
}

.modal-field-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;

    color: var(--color-modal-comment);

    resize: none;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.checkbox-text {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--color-modal-check);
}

.checkbox-text a {
    margin-left: 0.4em;
    color: var(--color-modal-check-ref);
}

.modal-icon-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    width: 16px;
    height: 16px;

    border: 1.25px solid #2e2f42;
    border-radius: 2px;

    fill: transparent;

    transition: background-color var(--transition-property), border-color var(--transition-property), fill var(--transition-property);
}

.modal-input-check:checked+.modal-icon-check {
    background-color: var(--bg-color-btn-modal-active);
    border-color: var(--bg-color-btn-modal-active);
    fill: var(--color-modal-check-icon);
}

.btn-modal-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;

    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;

    color: var(--color-btn-modal-submit);
    background-color: var(--bg-color-btn-modal-submit);
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    transition: background-color var(--transition-property);
}

.btn-modal-submit:is(:hover, :focus) {
    background-color: var(--bg-color-btn-modal-submit-hover);
}